name: Atualizar Branches de Teste
on:
  push:
    branches:
      - main

jobs:
  atualizar-branches-de-teste:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout do código-fonte
      uses: actions/checkout@v2

    - name: Configurar Git
      run: |
        git config --global user.email "arlenaraujo12@gmail.com"
        git config --global user.name "arlenresende"

    - name: Configurar rebase para pull
      run: git config pull.rebase true

    - name: Mover todos os arquivos, exceto pastab e .github, para as branches br1 e br2
      run: |
        # Verifique se a branch br1 existe
        if git show-ref --quiet refs/remotes/origin/br1; then
          git checkout br1
          git pull origin main  # Atualize a branch br1 com a main usando rebase

          # Mova todos os arquivos, exceto pastab e .github, da branch main para br1
          git checkout main -- .
          git checkout -- pastab .github
          git reset pastab .github
          git add .
          git commit -m "Mover arquivos da branch main para br1"
        else
          echo "A branch 'br1' não existe no repositório."
        fi

        # Verifique se a branch br2 existe
        if git show-ref --quiet refs/remotes/origin/br2; then
          git checkout br2
          git pull origin main  # Atualize a branch br2 com a main usando rebase

          # Mova todos os arquivos, exceto pastab e .github, da branch main para br2
          git checkout main -- .
          git checkout -- pastab .github
          git reset pastab .github
          git add .
          git commit -m "Mover arquivos da branch main para br2"
        else
          echo "A branch 'br2' não existe no repositório."
        fi

    - name: Usar o Token de Acesso Pessoal
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        git fetch --all  # Certifique-se de buscar todas as branches remotas

        # Agora, todos os arquivos, exceto pastab e .github, estarão nas branches br1 e br2
        git push origin br1
        git push origin br2
